diffusers==0.36.0
accelerate==1.7.0
transformers==4.57.6
numpy==1.26.4
torch==2.6.0
torchvision==0.21.0
torchcodec==0.2
sentencepiece
gradio==6.3.0
imageio
imageio-ffmpeg==0.6.0
moviepy==2.2.1
# wandb
deepspeed==0.16.9
peft==0.18.1
decord==0.6.0
opencv-python==4.11.0.86
tensorboard==2.20.0
open_clip_torch==2.22.0
einops
fairscale==0.4.13
timm==1.0.24
pillow==11.3.0
xfuser==0.4.5
# flash-attn<2.8
xformers==0.0.29.post3
lightning==2.6.0
mmcv==2.2.0
html4vision
plyfile
open3d==0.19.0
pyvirtualdisplay
qwen_vl_utils[decord]
huggingface_hub==0.36.0
pydantic==2.12.5
pydantic_core==2.41.5
triton==3.2.0
pytest==9.0.2